/* activation Dark mode */
.dark-mode{
    background-color:black;
    color:white;
    border:white;
    button{
        background-color: darkslateblue;
        color:white;
    }
}

/* Activation Light mode */
.light-mode{
    background-color:white;
    color:black;
    border:black;
    button{
        background-color: lightgray;
        border:1px solid black;
        color:black;
    }
}

/* Bouton dark mode */
.Mode{
    top :0px;
    left : 0px;
    position : absolute;
}