*{
    margin:15px 15px 15px 15px;
}

h1{
    text-align:center;
    font-size:100px;
}

.pendu{
    border: 1px solid gray;
    font-size:40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left:1em;
}

.pendu p{
    display:inline-block;
    
}

.DessinPendu{
    width:60%;
    margin-right:auto;
    margin-left:auto;
}

.buttonHidden{
    width:100px;
    /* visibility:hidden; */
    /* Permet de disparaître, en occupant la place */

    display:none;
    /* Permet de disparaître, sans occuper la place */
}

.buttonVisible{
    text-align:center;
    display: block;
}

/*-----BUTTON VISIBLE--------*/
.button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}


footer{
    bottom:0px;
    position:fixed;
}

/* Button style */
button{
    border-radius: 7px;
    background:#030125;
    color:#fff;
    border:none;
    position:relative;
    height:45px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    align-items:center;
  }

  div#espaceCommencer{
    align-items:center;
    display:grid;
  }

  button:hover{
    background:#b6fdff;
    color:#5638fc;
  }

  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #231ff0;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  